In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
from scipy.stats import norm, ttest_ind
from datetime import datetime
import os

import ipywidgets as widgets

In [2]:
def read_database(file_name):
    return pd.read_csv(file_name)

In [5]:
df_sales = read_database('2022-04-01T12_df_sales.csv')
df_sales['date'] = pd.to_datetime(df_sales['date'])

In [18]:
print(df_sales.shape)
df_sales.head(2)

(203847, 6)

   sale_id                date  count_pizza  count_drink  price user_id
0  1000001 2022-02-04 10:00:24            1            0    720  1c1543
1  1000002 2022-02-04 10:02:28            1            1    930  a9a6e8

In [44]:
mask1 = df_sales['date']>=datetime(2022, 2, 21)
mask2 = df_sales['date']<datetime(2022, 2, 28)

In [45]:
df_sales = df_sales.loc[mask1&mask2]
df_sales.shape

(25347, 6)

In [46]:
def get_sample_size_abs(epsilon, std, alpha=0.05, beta=0.2):
    t_alpha = norm.ppf(1 - alpha / 2, loc=0, scale=1)
    t_beta = norm.ppf(1 - beta, loc=0, scale=1)
    z_scores_sum_squared = (t_alpha + t_beta) ** 2
    sample_size = int(
        np.ceil(
            z_scores_sum_squared * (2 * std ** 2) / (epsilon ** 2)
        )
    )
    return sample_size

In [47]:
df_sales2 = df_sales.groupby('user_id', as_index=False).agg({'price': 'sum'})
df_sales2.head(3)

  user_id  price
0  00045f    720
1  0006bb   1260
2  000b52   3480

In [48]:
alpha = 0.05
beta = 0.1
mean = df_sales2['price'].mean()
std = df_sales2['price'].std()
mu = 20

print(f'mean={mean:.3f}, std={std:.3f}')

mean=1234.687, std=811.180

In [49]:
sample_size = get_sample_size_abs(mu, std, alpha, beta)
print(f'sample_size = {round(sample_size, -1)}\n')

sample_size = 34570